body {
  margin:0;
  font-family:Roboto;
  position:relative;
  background-image: url();
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px
}

.nav-branding {
  color: white;
  font-size: 3rem;
}

.nav-link {
  color: white;
  transition: 0,7s ease;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: indianred;

}



/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(to bottom, rgba(139, 0, 0, 0.7), rgba(102, 0, 0, 0.7)), url("https://i.ibb.co/zJN5Pcn/279547192-5047329058654372-5842225151927629582-n.jpg");
  opacity: 0.8;
  /* Set a specific height */
  height: 100%;

/* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
}

.button {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  padding: 20px 50px;
  transition: background-color 0.3s ease-in-out;
}

#Home .button:hover {
  background-color: #fff;
  color: #000;
}


body, html {
  height: 100%;
  font:Open Sans Extrabold;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.parent-container{
  width: 100%;
  height: 60%;
  background-color: bisque;
  display: flex;
}

.programs {
  float: left;
  width: 50%;
  height: 100%;
}

.special-offers{
  float: left;
  width: 50%;
  height: 100%;
}

.programs img, .special-offers img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  filter: brightness(70%);
}

.programs img:hover, .special-offers img:hover {
  filter: brightness(50%);
}

.parent-text {
  margin: 5%;
  position: relative;
  bottom: 30%;
  color: white;
  text-transform: uppercase;
}

#Intro{
  display: block;
  height: 100%;
  width: 100%;
  align-items: center;
}

.intro-container {
  display: flex;
  position: relative;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
  gap: 30px;

}

.intro-img{
  display: block;
  position: relative;
  z-index: 3;
  height: 50%;
  width: 50%;
  padding: 5%;
}

.intro-img img{
  width: 100%;
  height: 100%;
}

.intro-text {
  display: block;
  background: transparent;
  position: relative;
  padding: 5%;
  z-index: 9;
  width: 40%;
}

.intro-title{
  color: indianred;
  font-size: 3em;
  margin: 0;
  position: relative;
  padding: 50px;
}

.watermark {
  color: white;
  display: flex;
  position:absolute;
  font-size: 1746%;
  z-index: -1;
  opacity: 0.5;
  right: 18%;
  bottom: 25%;
  -webkit-text-stroke:2px;
  -webkit-text-stroke-color: #000;
  white-space: nowrap;
}

#Achievements{
  width: 100%;
  height: 100%;
  display:block;
  position: relative;

}

.achievements-container {
  display: grid;
  position: relative;
  width: 100%;
  height: fit-content;
  align-content: space-evenly;
  top: 25%;
}

.achievement-title {
  font-size: 3em;
  color: indianred;
  margin: 0;
}

.achicont {
  position: relative;
  display: flex;
  height: 80%;
  z-index: 1;
}

.achicont p {
  color: indianred;
}

.achievement {
  text-align: center;
  flex: 1;
  height: 300px;
  width: 20%;
  margin: 5px;
  font-size: 2em;
  background-color: transparent;
}

.achievement-watermark{
  color: white;
  display: flex;
  position:absolute;
  font-size: 1746%;
  z-index: -1;
  opacity: 0.5;
  right: 1%;
  bottom: 10%;
  -webkit-text-stroke:2px;
  -webkit-text-stroke-color: #000;
}

.gallery-title{
  grid-area: gallery-title;
  font-size: 3em;
  color: indianred;
  margin: 0;
}
  
  

.gallery-container{
  display: grid;
  grid-template-areas: 'prvenstvo prvenstvo ledja ledja ledja'
                       'prvenstvo prvenstvo ledja ledja ledja'
                       'prvenstvo prvenstvo gallery-title cup cup'
                       'svjetsko svjetsko svjetsko cup cup'
                       'svjetsko svjetsko svjetsko cup cup';
  position: relative;
  width:100%;
  height: fit-content;
  gap: 20px;
}

.cup {
  grid-area: cup;
}

.cup img{
  width: 100%;
}

.prvenstvo{
  grid-area: prvenstvo;
}
  

.prvenstvo img{
  width: 100%;
}

.svjetsko{
  grid-area: svjetsko;
}

.svjetsko img{
  width: 100%;
}

.ledja{
  grid-area: ledja;
}

.ledja img{
  width: 100%;
  height: 100%;
}

.footer {
position: relative;
width: 100%;
background: indianred;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 30vh;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 10px;
flex-wrap: wrap;
padding: 0;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 1rem;
font-weight: 300;
}




/* Regular styles for larger screens */

/* Media query for screens up to 767px width (e.g., smartphones) */
@media screen and (max-width: 767px) {
header {
  padding: 5px;
  background: white;
}

nav li {
  display: block;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}


}

@media(max-width:768px){
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
      position:fixed;
      left: 100%;
      top: 70px;
      gap:0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      margin: 0;
      height: 95%;
      padding: 0;
  }

  .nav-item{
      margin: 100px 0;
      font-size: xx-large;
      margin-top: 16%;
  }

  .nav-menu.active{
      left: 0;
    }

  .nav-branding{
    color: indianred;
  }
  .nav-link{
    color: indianred;
  }

  .parent-container{
    flex-direction: column-reverse;
    height: 40%;
    width: 100%;
  }

  .programs{
    width: 100%;
    max-height: 70%;
  }

  .special-offers{
    width: 100%;
    max-height: 70%;
  }

  }
 

