#navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:110px;
  padding:15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

#navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img{
   width: 15rem;
   }


nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #3c3c3c;
}

body {
    margin:0;
    font-family:Roboto;
    }




.content-container {
  max-width: 1100px;
  margin: 50px auto;
  text-align: center;
  background-image:"https://i.ibb.co/tpM0wnp/pexels-artem-podrez-6253307.jpg";
}

.content {
  display: inline-block;
  width: 30%;
  background-color: #f7f7f7;
  padding: 0px;
  margin: 0px 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
}


.content h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
  color: white;
  top:0;
  right:0;
  padding: 10px;
}

.content p {
  font-size: 0.9em;
  line-height: 1.5em;
  color: white;

}

.content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 550px;
  filter:brightness(0.6)
}

.content-text {
    position: absolute;
    top: 5px;
    z-index: 100;
    padding:40px
}

.content:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body, html {
    height: 100%;
    font:Open Sans Extrabold;
}



/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(to bottom, rgba(139, 0, 0, 0.7), rgba(102, 0, 0, 0.7)), url("https://i.ibb.co/zJN5Pcn/279547192-5047329058654372-5842225151927629582-n.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:50px
}
.button {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  padding: 20px 50px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #000;
}



footer {
  background-color: #f7f7f7;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-left {
  width: 60%;
  padding-right: 50px;
}

.footer-left h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.footer-left p {
  font-size: 0.9em;
  line-height: 1.5em;
  color: #666;
}

.footer-right {
  width: 40%;
}

.footer-right h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  color: #333;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social-links a:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.social-links a i {
  font-size: 1.2em;
}

.name-input {
  display: block;
  margin-bottom: 10px;
}

.name-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.name-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.age-email-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.age-email-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  width: 45%;
}

.age-email-input input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #eee;
}

.submit-button {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #444;
}


