body {
  margin:0;
  font-family:Roboto;
  position:relative;
  }
header {
  position: fixed;
  width: 100%;
  z-index: +1;
}
li {
  list-style: none;
}


a {
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px
}

.nav-branding {
  color: white;
  font-size: 3rem;
}

.nav-link {
  color: white;
  transition: 0,7s ease;
}

.nav-link:hover {
  color: red;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: indianred;

}

@media(max-width:768px){
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
      position:fixed;
      left: 100%;
      top: 70px;
      gap:0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      margin: 0;
      height: 95%;
      padding: 0;
  }

  .nav-item{
      margin: 100px 0;
      font-size: xx-large;
      margin-top: 16%;
  }

  .nav-menu.active{
      left: 0;
    }

  .nav-branding{
    color: indianred;
  }
  .nav-link{
    color: indianred;
  }
  

}


/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(to bottom, rgba(139, 0, 0, 0.7), rgba(102, 0, 0, 0.7)), url("https://i.ibb.co/zJN5Pcn/279547192-5047329058654372-5842225151927629582-n.jpg");
opacity: 0.7;
/* Set a specific height */
height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: -1;
}

/* Place text in the middle of the image */
.hero-text {
text-align: left;
position: absolute;
top: 50%;
left: 45%;
transform: translate(-50%, -50%);
color: white;
font-size:180%;
}
.button {
border: 2px solid #fff;
color: #fff;
background: transparent;
padding: 20px 50px;
transition: background-color 0.3s ease-in-out;
}

.button:hover {
background-color: #fff;
color: #000;
}


body, html {
  height: 100%;
  font:Open Sans Extrabold;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.parent{
  width: 100vw;
  height: 50%;
  display: flex;
  
  
}

.programs {
  width: 100%;
  float: left;
  height: 100%;
  background: url("https://i.ibb.co/P51cB8L/354566046-6636907286374088-4244025683683044886-n.jpg") no-repeat;
  background-size: 100%;
  text-align: end;

}

.special-offers{
  width: 100%;
  float: right;
  height: 100%;
  background: url("https://i.ibb.co/PhVkD1v/355145841-6636906796374137-8198157122327957430-n.jpg") no-repeat;
  background-size: 100%;
  text-align: end;
  
}

.footer {
position: relative;
width: 100%;
background: indianred;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 30vh;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 10px;
flex-wrap: wrap;
padding: 0;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 1rem;
font-weight: 300;
}




/* Regular styles for larger screens */

/* Media query for screens up to 767px width (e.g., smartphones) */
@media screen and (max-width: 767px) {
header {
  padding: 5px;
  background: white;
}

nav li {
  display: block;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}


}

