
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

*, *:before, *:after{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin:0;
  font-family:Roboto;
  position:relative;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}
#loading-animation {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid darkred;
  border-bottom: 16px solid darkred;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header {
  position: sticky;
  width: 80%;
  z-index: 10;
  background: transparent;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

.languages{
  height: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.lang-cont{
  width: 80%;
  background: white;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 60px;
}

.lang{
  display: flex;
  width: fit-content;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.lang a{
  height: 80%;
}

.lang img{
  height: 80%;
}





.navbar{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
  width: 100%;
  justify-content: center;
}

.navbar-fixed{
  position: fixed;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px
}

.nav-branding {
  color: white;
  font-size: 3rem;
}

.nav-link {
  color: gray;
  transition: 0,7s ease;
}



.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display:block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;

}

#Home{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.hero-video-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 61vh;
  overflow: hidden;
  width: 100%;
}



.hero-video-container img{
  width: 80%;
  object-fit: cover;
  bottom: 100px;
}

.sponsor-part{
  width: 80%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.sponsor-part img { 
  height: 50%;
}

#front-page-navigation{
  display: none;
}


body, html {
  font:Open Sans Extrabold;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


#Intro{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.description{
  text-align: center;
  width: 80%;
  color: grey;
  font-size: 1.3em;
}

.description p{
  margin: 5px;
}

.ending{
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer {
position: relative;
width: 80%;
background: darkred;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: fit-content;
padding: 3%;
}

.social-icon,
.menu {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 10px;
flex-wrap: wrap;
padding: 0;
}

.social-icon__item,
.menu__item {
list-style: none;
}

.social-icon__link {
font-size: 2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}
.social-icon__link:hover {
transform: translateY(-10px);
}

.menu__link {
font-size: 1.2rem;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
text-decoration: none;
opacity: 0.75;
font-weight: 300;
}

.menu__link:hover {
opacity: 1;
}

.footer p {
color: #fff;
margin: 15px 0 10px 0;
font-size: 1rem;
font-weight: 300;
}

.header-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Onama{
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

.text-onama{
  width: 40%;
  padding: 1%;
  color: gray;
}

.img-onama{
  width: 30%;
  padding: 1%;
}

.img-onama img{
  width: 100%;
}

.img-onama1{
  display: none;
}

#RadSaDjecom-content{
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

.rad-img{
  width: 30%;
  padding: 1%;
}

.rad-text{
  width: 40%;
  padding: 1%;
  color: gray;
}

.rad-img img{
  width: 100%;
}

.rad-img1{
  display: none;
}

#reprezent-cont{
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}

.reprezent-img{
  width: 30%;
  padding: 1%;
}

.reprezent-img img{
  width: 100%;
}

.reprezent-img1{
  display: none;
}

.reprezent-text{
  width: 40%;
  padding: 1%;
  color: gray;
}

#treneri{
  display: flex;
  justify-content: center;
}

.treneri-img{
  width: 30%;
  padding: 1%;
}

.treneri-img img{
  width: 100%;
}

.treneri-img1{
  display: none;
}

.treneri-text{
  width: 40%;
  padding: 1%;
  color: gray;
}

#lokacija{
  display: flex;
  justify-content: center;
}

.lokacija-img{
  width: 30%;
  padding: 1%;
}

.lokacija-img img{
  width: 100%;
}

.lokacija-img1{
  display: none;
}

.lokacija-text{
  width: 40%;
  padding: 1%;
  color: gray;
}

#sponzori{
  display: flex;
  justify-content: center;
}

.sponzori-img{
  width: 30%;
  padding: 1%;
}

.sponzori-img img{
  width: 100%;
  
}

.sponzori-text{
  width: 40%;
  padding: 1%;
  color: gray;
}

.news-container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  grid-template-rows: auto;
}

.news-item{
  background: white;
  border-radius: 2%;
  overflow: hidden;
  border:1px solid lightgray;
}

.news-item:hover{
  box-shadow: 0 8px 8px 0 gray;
  transition: 0.5s;
}

.news-img{
  width: 100%;
  height: 48%;
  overflow: hidden;
}

.news-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-text{
  padding: 10px;
}

.news-text p{
  color: gray;
}

/* Regular styles for larger screens */

/* Media query for screens up to 767px width (e.g., smartphones) */
@media screen and (max-width: 767px) {
header {
  position:absolute;
  width: 100%;
  margin-right: 10%;
}

.navbar{
  justify-content: flex-end;
}

nav li {
  display: block;
  margin-bottom: 10px;
}

.hero-video-container{
  height: fit-content;
}

.hero-video-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: 100%;
    gap: 0;
    top: 0;
    flex-direction: column;
    background-color: darkred;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin: 0;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 15%;
    padding-left: 15%;
  }


  .nav-item{
    font-size: 1.7em;
  }

  .nav-item1 {
    margin: 5% 0 5% 0;
    font-size: 1.5em;
  }

  .nav-menu.active{
      left: 0;
    }

  .nav-branding{
    color: white;
    z-index: 4;
  }
  .nav-link{
    color: white;
  }

  .languages{
    display: none;
  }

  .description{
    display: none;
  }

  .sponsor-part{
    height: 10vh;
    width: 100%;
    align-content: center;
  }

  .sponsor-part img{
    height: 33%;
  }

  .sponsor-part a {
    height: 135px;
  }

  #front-page-navigation{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .front-nav{
    height: 100%;
  }

  .front-img{
    position: absolute;
    height: 404px;
    width: fit-content;
    z-index: -1;
    right: 0px;
    width: 217px;
  }

  .front-img img{
    width: 100%;
    height: 100%;
  }

  .gray{
    color: gray;
  }

  .footer{
    width: 100%;
    padding: 5%;
  }

  #Onama{
    flex-direction: column;
  }

  .img-onama{
    width: 100%;
    padding: 0;
  }

  .img-onama1{
    width: 100%;
    padding: 0;
    display: block;
  }

  .img-onama1 img{
    width: 100%;
  }

  .img-onama img:nth-child(2){
    display: none;
  }

  .text-onama{
    width: 100%;
  }

  #RadSaDjecom-content{
    flex-direction: column-reverse;
  }

  .rad-img{
    width: 100%;
    padding: 0;
  }

  .rad-img1{
    width: 100%;
    padding: 0;
    display: block;
  }

  .rad-img1 img{
    width: 100%;
  }

  .rad-img img:nth-child(1){
    display: none;
  }

  .rad-text{
    width: 100%;
  }

  #reprezent-cont{
    flex-direction: column-reverse;
  }

  .reprezent-img{
    width: 100%;
    padding: 0;
  }

  .reprezent-img img:nth-child(1){
    display: none;
  }

  .reprezent-img1{
    width: 100%;
    padding: 0;
    display: block;
  }

  .reprezent-img1 img{
    width: 100%;
  }

  .reprezent-text{
    width: 100%;
  }

  #treneri{
    flex-direction: column-reverse;
  }

  .treneri-img{
    width: 100%;
    padding: 0;
  }

  .treneri-img img:nth-child(1){
    display: none;
  }

  .treneri-img1{
    width: 100%;
    padding: 0;
    display: block;
  }

  .treneri-img1 img{
    width: 100%;
  }

  .treneri-text{
    width: 100%;
  }

  #lokacija{
    flex-direction: column-reverse;
  }

  .lokacija-img{
    width: 100%;
    padding: 0;
  }

  .lokacija-img img:nth-child(1){
    display: none;
  }

  .lokacija-img1{
    width: 100%;
    padding: 0;
    display: block;
  }

  .lokacija-img1 img{
    width: 100%;
  }

  .lokacija-text{
    width: 100%;
  }

  #sponzori{
    flex-direction: column;
  }

  .sponzori-img{
    width: 100%;
    padding: 0;
  }

  .sponzori-text{
    width: 100%;
  }
  
  }
 

  @media(min-width:769px) and (max-width:1190px){

    .achhievement-title h1{
      font-size: 7em;
    }

  }

  @media(max-width:300px) {
    .hero-text{
      font-size: 1.5em;
    }
  }
